@model System.Web.Mvc.HandleErrorInfo
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Error";
    //Layout = "null";
}
<title>@ViewBag.Title</title>
<link type="text/css" rel="stylesheet" href="~/assets/css/Error404.css" />
<div id="notfound" style="width:100vw">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2>Page not found</h2>
        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>

        @{

            if (User.IsInRole("Admin"))

            {
                @Html.ActionLink("Go To Back", "AddCourse", "Admin")
            }
            else
            {


                @Html.ActionLink("Go To Back", "StudentDashboard", "Home") }
        }
    </div>
</div>

