<div class="card-body">



    <form method="Post" class="zipupload">


        <input type="file" name="files" id="uplod" accept=".zip" required />

        <button class="btn btn-primary" type="submit" id="upbtn"><i class="material-icons">add</i>Upload Course</button>
    </form>

    @ViewBag.success



</div>
