

<div class="col-md-12">
    @foreach (var item in (List<String>)ViewBag.Span)
    {<button class="badge rounded-pill bg-primary tagtext py-2 px-3" value="@item" type="button" style="color: white;">@item<i class="material-icons tagremove" style="font-size: 15px">clear</i></button>

}
</div>

