

<div class="card-body">
    <div class="card-header">
        <h4 class="card-title">What You`ll Learn</h4>
    </div>
    <div class="form-group mb-0">
        <div class="form-group">
            <div style="height: 150px;"
                 class="TA"
                 data-toggle="quill"
                 data-quill-placeholder="Enter Your Description"
                 data-quill-modules-toolbar='[["bold", "italic"], ["link", "blockquote", "code", "image"], [{"list": "ordered"}, {"list": "bullet"}]]'>
                <textarea id="review" name="w3review" rows="4" cols="50" style="resize:none"></textarea>

            </div>
       
        </div>
    </div>

</div>



